.odd {
    background-color: rgb(230, 110, 158);
    font-family: Verdana, 'DejaVu Sans', sans-serif;

}

#two {
    color: rgb(29, 26, 225);
    font-size: 34px;
}

.three {
    font-size: 24px;
}

#four {
    color: rgb(76, 220, 47);
    font-size: 24px;
    font-weight: bold;
}