.first {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', 'sans-serif';
}

.second {
    background-color: rgb(249, 241, 27);
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}