/* body {
  background: #eee;
  font-family: sans-serif;

}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
  border: 2px;


}

.title {
  background: #e3f4ff;
  margin: 16px auto;
  padding: 10px;

}

.content {
  background: #e3f4ff;
  margin: 16px auto;
  padding: 10px;

}

.button-container {
  background: #e3f4ff;
  padding: 20px;
  text-align: center;
}

button {
  background: white;
  border: 5px solid #eee;
  padding: 10px;
  display: block;

} */

/* Solution for the CSS After understanding the assignment properly*/

body {
  background: #eee;
  font-family: sans-serif;

}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin: 8px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  margin: 8px;
  padding: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 8px;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;

}

.span {
  display: block;
}